// -----------------------------------------------------------------------------
// This file contains all styles related to the description list component.
// -----------------------------------------------------------------------------

// Importing mixins and color variables

@use '../abstracts/mixins' as *;
@use '../abstracts/colors' as *;

// Styles for the description list

.description-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 35rem;
    padding: 1.5rem 0;
    border-radius: 0.7rem;
    text-align: center;
    background-color: $primary-color;

    @include breakpoint(large) {
        flex-direction: row;
        max-width: 70rem;
        padding: 1.9rem 0;
        text-align: left;
    }

    // Styling for description list items

    &__item {
        flex-basis: 100%;
        padding: 0rem 1.5rem;
    }

    // A class that adds additional padding to the bottom part of the description list items on small screens

    &__item--has-padding-bottom {
        padding-bottom: 1.5rem;

        @include breakpoint(large) {
            padding-bottom: 0rem;
        }
    }

    // A class that adds a border on the right side that of the description list items on large screens

    &__item--has-right-border {
        border-right: none;

        @include breakpoint(large) {
            border-right: 0.1rem solid lighten($color: $secondary-color, $amount: 29%);
            ;
        }
    }

    // Styling for the dt element

    &__item-name {
        margin-top: 0rem;
        color: $secondary-color;
        font-size: 0.7rem;
        font-weight: 500;
        font-family: 'Rubik';
        letter-spacing: 0.1rem;
        text-transform: uppercase;

        @include breakpoint(large) {
            margin-top: -0.45rem;
        }
    }

    // Styling for abbreviations inside dt elements.

    &__item-abbreviation {
        text-decoration: none;
        cursor: help;
    }

    // Styling for the dd element

    &__item-value {
        min-height: 1.15rem;
        margin-top: 0.5rem;
        font-size: 1.15rem;
        font-weight: 500;
        font-family: 'Rubik';

        @include breakpoint(large) {
            min-height: 2.3rem;
            margin-top: 0.7rem;
        }
    }
}