// -----------------------------------------------------------------------------
// This file contains all styles related to the form component.
// -----------------------------------------------------------------------------

// Importing color variables

@use '../abstracts/colors' as *;

.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &__input-group {
        display: flex;
        width: 100%;
        max-width: 35rem;
    }

    // Styling for the input element.

    &__input {
        width: 100%;
        padding: 0.7rem 1.5rem 0.7rem 1.5rem;
        border: 0.15rem solid $primary-color;
        border-top-left-radius: 0.7rem;
        border-bottom-left-radius: 0.7rem;
        margin-top: 1.5rem;
        color: $accent-primary;
        font-size: 1.125rem;
        font-weight: 400;
        font-family: 'Rubik';

        &:hover {
            cursor: pointer
        }
    }

    // A class that will be applied to the input element to signalize that the entry is invalid.

    &__input--is-invalid {
        border: 0.15rem solid $accent-secondary;
    }

    // Styling for the search button.

    &__button {
        width: 3.7rem;
        height: 3rem;
        border-top-right-radius: 0.7rem;
        border-bottom-right-radius: 0.7rem;
        margin-top: 1.5rem;
        background-color: $accent-primary;
        background-image: url(../assets/img/icon-arrow.svg);
        background-repeat: no-repeat;
        background-size: 0.6rem;
        background-position: center;

    }

    // On hover change the cursor style and background color of the button.

    &__button:hover {
        background-color: lighten($color: $accent-primary, $amount: 9%);
        cursor: pointer
    }

    // Styling for the p element where the error messages will be injected.

    &__error-message {
        visibility: visible;
        width: 100%;
        max-width: 35rem;
        padding: 0.5rem 1rem;
        border-radius: 0.7rem;
        margin-top: 0.5rem;
        color: $primary-color;
        font-size: 1rem;
        font-weight: 400;
        font-family: 'Rubik';
        background-color: $accent-secondary;
        background-image: url(../assets/img/icon-error.svg);
        background-repeat: no-repeat;
        background-size: 1rem;
        background-position: center right 1rem;
        opacity: 0;
        z-index: 3;
        transition: opacity .15s ease-in-out;
    }

    // A class that helps transition in the error message.

    &__error-message--is-visible {
        opacity: 1;
    }

    // A class that will be applied to the p element to show or hide the error message.

    &__error-message--is-hidden {
        visibility: hidden;
    }
}