// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

@use '../abstracts/mixins' as *;
@use '../abstracts/colors' as *;

.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    // Styling for page header.

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 18.25rem;
        padding: 0 1.5rem;
        background-image: url(../assets/img/pattern-bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @include breakpoint(large) {
            height: 13.5rem;
        }
    }

    // Styling for the page heading.

    &__title {
        margin-top: 1.5rem;
        color: $primary-color;
        font-size: 1.5rem;
        font-weight: 500;
        font-family: 'Rubik';
        text-align: center;
    }

    // Styling for main element.

    &__main {
        position: relative;
        display: flex;
        flex-grow: 1;
    }

    // Styles for the description list container.

    &__description-list-container {
        position: absolute;
        top: -9.1rem;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        padding: 0 1.5rem;
        z-index: 2;

        @include breakpoint(large) {
            top: -3.37rem;
        }
    }

    // Styles for the map container.

    &__map-container {
        flex-grow: 1;
        min-height: 30rem;
        z-index: 1;
    }

    // Styles for the page footer.

    &__footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        color: $primary-color;
        font-size: 1rem;
        font-weight: 400;
        font-family: 'Rubik';
        text-align: center;
        background-image: url(../assets/img/pattern-bg.png);
        background-repeat: no-repeat;
        background-size: cover;

        @include breakpoint(small) {
            flex-direction: row;
        }
    }

    // A class that adds a small margin to the right side of the first paragraph on screens bigger than 27rem.

    &__footer-paragraph--has-margin-right {
        margin-right: 0;

        @include breakpoint(small) {
            margin-right: 0.25rem;
        }
    }

    // Styles for the footer links.

    &__footer-link {
        color: $primary-color;
        text-decoration: underline;

        &:hover {
            color: $accent-primary;
            text-decoration: none;
        }
    }
}