// -----------------------------------------------------------------------------
// This file contains all color variables.
// -----------------------------------------------------------------------------

$primary-color: hsl(0, 0%, 100%);
$secondary-color: hsl(0, 0%, 59%);

$accent-primary: hsl(0, 0%, 17%);
$accent-secondary: hsl(0, 85%, 44%);